body 
{
  background-color: #2c2d2c;
 
} 

p {
	color:orange;
}

/*
    background-color: #2c2d2c;
    background-image: url(https://masyamba.ru/картинки-заката/20-скачать-картинки-закат.jpg);
	background-repeat: no-repeat;
	background-position: center; 
	background-size:cover;
	*/